@page "/weather"

@using Microsoft.AspNetCore.Authorization
@using Rtm.BlazorClient.Models
@using Rtm.BlazorClient.Services

@attribute [Authorize]
@inject HybridCacheService HybridCacheService
@implements IDisposable

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

@if (_weatherForecastSeries == null || _weatherForecastSeries.WeatherForecasts.Count == 0)
{
    <p><em>Waiting for weather data...</em></p>
}
else
{
    <p>Updated at: @_weatherForecastSeries.Timestamp.ToLongTimeString() (UTC)</p>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in _weatherForecastSeries.WeatherForecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private WeatherForecastSeriesModel? _weatherForecastSeries;

    protected override async Task OnInitializedAsync()
    {
        _weatherForecastSeries = await HybridCacheService.GetWeatherForecastSeriesAsync();
        HybridCacheService.OnWeatherForecastSeriesChange += OnWeatherForecastSeriesWeatherForecastSeriesChanged;
    }

    private void OnWeatherForecastSeriesWeatherForecastSeriesChanged()
    {
        _ = ReloadWeatherForecastSeriesAsync();
    }

    private async Task ReloadWeatherForecastSeriesAsync()
    {
        _weatherForecastSeries = await HybridCacheService.GetWeatherForecastSeriesAsync();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        HybridCacheService.OnWeatherForecastSeriesChange -= OnWeatherForecastSeriesWeatherForecastSeriesChanged;
    }

}
